*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    height:100%;
    width:100px;
}

button{
        font-size:bold;
      font-size:30px;
    margin-left:200px;
    margin-right:200px;
    margin-top:200px;
    margin-bottom:200px;
    padding:20px;
    position:center;
    border-radius:50px;
    color:white;
     background-color:black;
     size:200px;
     font-family:'Times New Roman', Times, serif;
     cursor:pointer;
     display:block;
}

button:hover{
    background-color:rgb(13, 150, 109);

}

#box{
    color:white;
    width:300px;
    height:450px;
    background-color:black;
    margin-left: 300px;
    padding:100px;
    padding-top:200px;
    border-radius:400px;
    background-image:url("https://cdn.pixabay.com/photo/2022/08/22/11/04/skate-7403432_640.jpg");
    background-size:cover;
    cursor:pointer;
}

.c{
   width:300px;
   height:550px;
   background-color:aqua;
   margin:300px;
   background-image:url("https://cdn.pixabay.com/photo/2023/01/31/15/47/building-7758389_640.jpg");
   margin-bottom:300px;

}

.c:hover{
    background-color:black;
    background-size:cover;
    border-radius:100px;
    cursor:pointer;
}

.friend{
    height:450px;
    width:300px;
    background-color:black;
    display:inline-block;
    background-image:url("https://cdn.pixabay.com/photo/2023/11/16/06/59/speedy-car-8391554_640.jpg");
   background-image:url("https://cdn.pixabay.com/photo/2023/03/15/03/46/jeep-7853620_640.jpg");
      background-image:url("");
         background-image:url("");
}

